# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Environments
.env
.venv/
env/
venv/

# Byte-compiled / cache
*.egg-info/
.eggs/
*.egg
*.log
.cache/
.mypy_cache/
.pytest_cache/

# VSCode / IDE
.vscode/
.idea/

# Docker
Dockerfile*
.dockerignore

# OS files
.DS_Store
Thumbs.db

# Tests (optional if you don't need them in container)
tests/
